<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Hiredhelp", 'http://www.cloudconcepts.org' %></li>
			<li><%= link_to "Cloudconcepts", 'http://www.hiredhelp.ie' %></li>
		</ul>
	</nav>
</footer>	